table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;

}

th {
    background-color: #e0dee9;

}

.columna1 {
    width: 10%;

}

.columna2 {
    width: 10%;
}

.columna3 {
    width: 10%;
}

.columna4 {
    width: 10%;
}

.columna5 {
    width: 10%;
}

.columna6 {
    width: 10%;
}

.columna7 {
    width: 10%;
}

.columna8 {
    width: 10%;
}

.columna9 {
    width: 10%;
}

.columna10 {
    width: 10%;
}
