*{
    background-color: bisque;
}

.div{
    border: 1px black solid;
    width: 60%;
    border-radius: 20px;
}

.caja{
    background-color: brown;
    justify-content: center;
    justify-items: center;
}

.texto{
    background-color: brown;
    font-size: 25px;
}

input{
    width: 300px;
    height: 30px;
    border: 1px black solid;
    border-radius: 20px;
    text-align: center;
}

button{
    width: 100px;
    height: 20px;
    border: 1px black solid;
    border-radius: 20px;
    text-align: center;
}