
*{
    background-color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: blanchedalmond;
}

#btnLimpiar{
    position: fixed;
}


#btnCargarA{
    margin: 0 10px 0 10px;
}

#respuesta{
    font-size: 18px;
    border: 1px black solid;
    border-radius: 10px;
}

.container{
    width: 90%;
}